*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
:root{
  --bcg-color:#262626;
  --btn-color-hover:#57AD56;
  --text-color: #1D1D1D;
}
header{
  height: 72px;
  width: 100vw;
  display: flex;
}
.headline{
  background-image: url(./images/logo.svg);
  background-repeat: no-repeat;
  height: 20px;
  width: 120px;
  margin: 0 auto;
  margin-top: 16px;
}
button{
  margin: 16px;
  margin-top: 10px;
}
.sign-in-btn{
  height: 40px;
  width: 80px;
  background-color: #fff;
  border: 1px solid #E0E0E0;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  border-radius: 2px;
}
.sign-in-btn:hover{
  cursor: pointer;
  background-color: var(--btn-color-hover);
  transition: 0.8s linear;
}
.reg-btn{
  width: 80px;
  height: 40px;
  background:var(--bcg-color);
  border-radius: 2px;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  color: white;
  border: none;
}
.reg-btn:hover{
  cursor: pointer;
  background-color: var(--btn-color-hover);
  transition: 0.8s linear;
}
.my-purchases-btn{
  width: 40px;
  height: 100%;
  background-image: url(./images/purchases-icon.svg);
  background-repeat: no-repeat;
  background-position: 9px 9px;
  border: none;
  background-color: #fff;
}
.my-purchases-btn:hover{
  cursor: pointer;
  background-image: url(./images/purchases-icon-hover.svg);
  transition: 0.8s linear;
}
.hero{
  height: 364px;
  width: 100vw;
  background-image: url(./images/hero-bcg.png);
  background-repeat: no-repeat;
  padding-top: 80px;
}
.hero__content{
  width: 389px;
  height: 204px;
  box-shadow: 0px 0px 16px rgba(117, 117, 117, 0.2);
  border-radius: 2px;
  background-color: #fff;
  margin: 0 auto;
  padding-top: 38px;
}
.hero__content h2{
  margin: 0 auto;
  width: 320px;
  height: 42px;
  font-size: 36px;
  font-weight: normal;
  line-height: 42px;
  color:var(--text-color);
}
.price{
  width: 172px;
  height: 16px;
  font-size: 14px;
  line-height: 16px;
  color:var(--bcg-color);
  margin: 0 auto;
  margin-left: 10%;
  padding-top: 62px;
}
.order-time{
  width: 97px;
  height: 32px;
  font-size: 13px;
  line-height: 15px;
  background-color: var(--bcg-color);
  border-radius: 18px;
  color: #fff;
  text-align: center;
  padding-top: 8px;
  margin: 0 auto;
  
}
@media (min-width:768px){
  .hero{
    background-size: 100%;
  }
  .headline{
    margin-left: 80px;
  }
  .hero__content{
    margin-left: 81px;
  }
  .price{
    display: inline-block;
  }
  .order-time{
    display: inline-block;
    margin-top: 62px;
  }
}
@media (min-width:577px) and (max-width:767px){
  .headline{
    margin-left: 8px;
  }
   .hero__content{
    margin-left: 8px;
  }
  .price{
    display: inline-block;
  }
  .order-time{
    display: inline-block;
    margin-top: 62px;
  }
}
@media (max-width:576px){
  .headline{
    margin-left: 8px;
  }
  .my-purchases-btn{
    display: none;
  }
  .price{
    display: block;
    margin: 0 0 30px 19%;
  }
  .order-time{
    display: block;
    margin-left: 19%;
  }
  .hero__content{
    margin-left: 8px;
  }
}