*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
a{
  text-decoration: none;
}
li{
  list-style-type: none;
}
:root{
  --bcg-color:#262626;
  --btn-color-hover:#57AD56;
  --text-color: #1D1D1D;
  --link-color:#626262;
  --link-color-hover:  #327430;
  --dish-bcg-color: #757575;
}
header{
  height: 72px;
  display: flex;
}
.headline{
  background-image: url(./images/logo.svg);
  background-repeat: no-repeat;
  height: 20px;
  width: 120px;
  margin: 0 auto;
  margin-top: 30px;
}
button{
  margin: 16px;
  margin-top: 10px;
}
.sign-in-btn{
  height: 40px;
  width: 80px;
  background-color: #fff;
  border: 1px solid #E0E0E0;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  border-radius: 2px;
}
.sign-in-btn:hover{
  cursor: pointer;
  background-color: var(--btn-color-hover);
  transition: 0.8s linear;
}
.reg-btn{
  width: 80px;
  height: 40px;
  background:var(--bcg-color);
  border-radius: 2px;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  color: white;
  border: none;
}
.reg-btn:hover{
  cursor: pointer;
  background-color: var(--btn-color-hover);
  transition: 0.8s linear;
}
.my-purchases-btn{
  width: 40px;
  background-image: url(./images/purchases-icon.svg);
  background-repeat: no-repeat;
  background-position: 9px 9px;
  border: none;
  background-color: #fff;
}
.my-purchases-btn:hover{
  cursor: pointer;
  background-image: url(./images/purchases-icon-hover.svg);
  transition: 0.8s linear;
}
.hero{
  height: 364px;
  background-image: url(./images/hero-bcg.png);
  background-repeat: no-repeat;
  padding-top: 80px;
}
.hero__content{
  width: 389px;
  height: 204px;
  box-shadow: 0px 0px 16px rgba(117, 117, 117, 0.2);
  border-radius: 2px;
  background-color: #fff;
  margin: 0 auto;
  padding-top: 38px;
}
.hero__content h2{
  margin: 0 auto;
  width: 320px;
  height: 42px;
  font-size: 36px;
  font-weight: normal;
  line-height: 42px;
  color:var(--text-color);
}
.price{
  width: 172px;
  height: 16px;
  font-size: 14px;
  line-height: 16px;
  color:var(--bcg-color);
  margin: 0 auto;
  margin-left: 10%;
  padding-top: 62px;
}
.order-time{
  width: 97px;
  height: 32px;
  font-size: 13px;
  line-height: 15px;
  background-color: var(--bcg-color);
  border-radius: 18px;
  color: #fff;
  text-align: center;
  padding-top: 8px;
  margin: 0 auto;
}
.nav{
  width: 100%;
  height: 80px;
  background: #FFFFFF;
  border: 1px solid rgba(117, 117, 117, 0.2);

}
.menu-links{
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid rgba(117, 117, 117, 0.2);
}
.menu-links li {
  display: inline-block;
  margin-left: 4%;
}
.menu-links li a:hover{
  color:var(--link-color-hover);
}
.food-menu{
  height: 780px;
}
.food-menu-title{
  width: 84px;
  height: 34px;
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
}
.dish{
  cursor: pointer;
  height: 160px;
  border: 1px solid rgb(243, 229, 229);
  padding-left: 16px;
}
.dish:after{
  height: 100%;
  width: 100%;
  content: "";
  background:var(--dish-bcg-color);
  mix-blend-mode: normal;
  opacity: 0.04;
}
.snack-name{
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-top: 16px;
}
.dish-description{
  font-size: 13px;
  line-height: 21px;
  color: var(--link-color);
}
.price-for-snack{
  font-weight: 500;
  margin-top: 58px;
}
.dish-herring{
    background-image: url(./images/Herring.png);
    background-repeat: no-repeat;
    background-position: right;
  }
.dish-souce{
  background-image:url(./images/souce.png);
  background-repeat: no-repeat;
  background-position: right;
}
.dish-mushrooms{
  background-image:url(./images/mushrooms.png);
  background-repeat: no-repeat;
  background-position: right;
}
.dish-lard{
background-image:url(./images/lard.png);
  background-repeat: no-repeat;
  background-position: right;
}
.dish-salmon{
  background-image:url(./images/salmon.png);
  background-repeat: no-repeat;
  background-position: right;
}
.dish-beef-tongue{
  background-image:url(./images/beef-tongue.png);
  background-repeat: no-repeat;
  background-position: right;
}
footer{
  background-color:var(--bcg-color);
  height: 443px;
  margin-top:80px;
}
.footer-title{
  width: 200px;
  height: 116px;
  background-image: url(./images/footer-title.svg);
  background-position: 0px 56px;
  margin: 0 0px 40px 80px;
  background-repeat: no-repeat;
}
hr{
  height: 1px;
  background: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.4;
}
.footer__main-links{
  display:flex;
  flex-direction: row;
}
footer select{
  width: 227px;
  height: 40px;
  background-color: #3B3B3B;
  border-radius: 2px;
  color: white;
  background-image: url(./images/lang-icon.svg);
  background-repeat: no-repeat;
  background-position: 16px 12px;
  padding-left: 48px;
  margin-top: 32px;
}
footer option{
  width: 227px;
  height: 40px;
  background-color: #3B3B3B;
  border-radius: 2px;
  color: white;
}
.tag{
  display: flex;
  margin: 45px 0 20px 0;
}
.tag-part-1{
  color: #49A144;
}
.tag-part-2{
  color: white;
}
footer ul li{
  display: inline-block;
}
footer ul li a{

}
.links-contacts{
  margin-bottom: 60px;
}
.facebook{
  background-image: url(./images/facebook-icon.svg);
  background-repeat: no-repeat;
}
.twitter{
  background-image: url(./images/twitter-icon.svg);
  background-repeat: no-repeat;
}
.instagram{
  background-image: url(./images/instagram-icon.svg);
  background-repeat: no-repeat;
}
@media (min-width:768px){
  .hero{
    background-size: 100%;
  }
  .headline{
    margin-left: 80px;
  }
  .hero__content{
    margin-left: 81px;
  }
  .price{
    display: inline-block;
  }
  .order-time{
    display: inline-block;
    margin-top: 62px;
  }
  .menu-links li a{
    text-decoration: none;
    width: 61px;
    height: 19px;
    font-size: 16px;
    line-height: 19px;
    color: var(--link-color);
  }
  .food-menu{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 122px 161px 161px 161px;
    gap: 17px 49px;
    margin: 56px 80px 0 80px;
  }
  .food-menu h2{
    grid-area: 1/1/1/3;
  }
  .dish{
    width: 100%;
  }
  .dish img{
    float: right;
  }
  footer{
    padding: 0 80px 0 80px;
  }
}
@media (min-width:577px) and (max-width:767px){
  .headline{
    margin-left: 8px;
  }
   .hero__content{
    margin-left: 8px;
  }
  .price{
    display: inline-block;
  }
  .order-time{
    display: inline-block;
    margin-top: 62px;
  }
  .menu-links li a{
    text-decoration: none;
    width: 61px;
    height: 19px;
    font-size: 16px;
    line-height: 19px;
    color: var(--link-color);
  }
  .dish{
    display: flex;
    flex-direction: column;
    margin: 32px 8px 0 5px;
  }
  .food-menu-title{
    margin: 56px 0 32px 8px;
  }
  footer{
    margin-top: 500px;
  }
}
@media (max-width:576px){
  .headline{
    margin-left: 8px;
  }
  .my-purchases-btn{
    display: none;
  }
  .price{
    display: block;
    margin: 0 0 30px 19%;
  }
  .order-time{
    display: block;
    margin-left: 19%;
  }
  .hero__content{
    margin-left: 8px;
  }
  .menu-links li a{
    display: none;
  }
  .main-link:first-of-type{
    display: block;
    width: 84px;
    height: 34px;
    font-size: 22px;
    line-height: 34px;
    color: var(--text-color);
    text-align: center;
    margin-left: 230%;
  }
  .food-menu-title{
    display: none;
  }
  footer{
    margin-top: 200px;
  }
}
